services:
  test_mysql:
    image: mysql:8.0 # Use a specific version for stability
    container_name: test_mysql_travel_buddy_container
    environment:
      # These variables set the root user password and a default database
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: migrator
      MYSQL_PASSWORD: migrator_password
      MYSQL_DATABASE: travel_buddy
    ports:
      # Maps the container's 3306 to your local machine's 3307
      - "3307:3306"
    volumes:
      # This is the key step. It mounts your local SQL files into the container.
      # Any *.sql or *.sh files placed in /docker-entrypoint-initdb.d/
      # will be automatically executed by MySQL when the container starts for the first time.
      - ./mysql/db_init:/docker-entrypoint-initdb.d
    tmpfs:
      # This tells Docker to store the MySQL database data in temporary memory.
      # The data will be DESTROYED when the container stops.
      - /var/lib/mysql:rw
    healthcheck:
      # Check if we can ping the server. 
      test: ["CMD-SHELL", "mysqladmin ping -h localhost -u root -p$$password || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
  test_mongodb:
    image: mongo:6.0
    container_name: test_mongodb_travel_buddy_container
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password
    ports:
      - "27017:27017"
    tmpfs:
      - /data/db:rw
  test_neo4j:
    image: neo4j:5.16
    container_name: test_neo4j_travel_buddy_container
    environment:
      NEO4J_AUTH: neo4j/password
    ports:
      - "7474:7474" # HTTP
      - "7687:7687" # Bolt
    tmpfs:
      - /data:rw

  migrator:
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
      test_mysql:
        condition: service_healthy
      test_mongodb:
        condition: service_started
      test_neo4j:
        condition: service_started
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      
      MYSQL_HOST: test_mysql
      MYSQL_PORT: 3306
      MYSQL_USER: root
      MYSQL_PASSWORD: password
      MYSQL_DATABASE: travel_buddy

      MONGO_CONNECTION: mongodb://root:password@test_mongodb:27017
      MONGO_DATABASE: travel_buddy_mongo

      NEO4J_URI: bolt://test_neo4j:7687
      NEO4J_USER: neo4j
      NEO4J_PASSWORD: password